<div>
    <% categories.forEach((category) => { %>
        <div>
            <a href="/categories/category/<%= category.category_id %>"><%= category.category_name %></a>
        </div>
    <% }) %>
</div>
