<html>
    <head>
        <title>Add Category</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/category.css">
    </head>
    <body>
        <%- include('partials/errors.ejs') %>
        <form method="POST" action="/categories/new">
            <label for="categoryName"> Category </label>
            <input type="text" id="categoryName" name="categoryName" value="<%= typeof category !== 'undefined' ? category : '' %>">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
