<html>
    <head>
        <title>Add Company</title>
    </head>
    <body>
        <form method="POST" action="/companies/new">
            <label for="CompanyName"> Company </label>
            <input type="text" id="companyName" name="companyName">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
