<html>
    <head>
        <title>Add Category</title>
    </head>
    <body>
        <form method="POST" action="/categories/new">
            <label for="categoryName"> Category </label>
            <input type="text" id="categoryName" name="categoryName">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
