<html>
    <head>
        <title> Home </title>
    </head>
    <body>
        <nav>
            <h1>Inventory Application</h1>
        </nav>
        <%- include("partials/categoriesList", { categories: categories }) -%>
        <a href="/categories/new">add category</a>
    </body>
</html>
