<html>
    <head>
        <title> Home </title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <nav>
            <h1>Inventory Application</h1>
            <div style="margin-top:1em;">
                <a href="/" class="btn">Home</a>
                <a href="/categories" class="btn">Categories</a>
                <a href="/companies" class="btn">Companies</a>
            </div>
        </nav>
        <%- include('partials/errors.ejs') %>
        <section>
            <p>Sort By:</p>
            <a href="/categories">Categories</a>
            <span>/</span>
            <a href="/companies">Companies</a>
        </section>
        <a href="/item/add">Add Item </a>
        <%- include("partials/itemsList", { items: items }) -%>
    </body>
</html>
