<html>
    <head>
        <title>Update Category</title>
    </head>
    <body>
        <form action="/update/category/<%= category.category_id %>" method="POST">
            <label for="categoryName">Category Name: </label>
            <input type="text" id="categoryName" name="categoryName" value="<%= category.category_name %>">
            <button type="submit">Update</button>
        </form>
    </body>
</html>
