<html>
    <head>
        <title>Update Company</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/company.css">
    </head>
    <body>
    <%- include('partials/errors.ejs') %>
    <form action="/companies/update/<%= company.company_id %>" method="POST">
            <label for="companyName">Company Name: </label>
            <input type="text" id="companyName" name="companyName" value="<%= company.company_name %>">
            <button type="submit">Update</button>
        </form>
    </body>
</html>
