<html>
    <head>
        <title>Update Category</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/category.css">
    </head>
    <body>
    <%- include('partials/errors.ejs') %>
    <form action="/categories/update/<%= category.category_id %>" method="POST">
            <label for="categoryName">Category Name: </label>
            <input type="text" id="categoryName" name="categoryName" value="<%= category.category_name %>">
            <button type="submit">Update</button>
        </form>
    </body>
</html>
